<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pages</title>
        <link href="{{ base_url() }}/static/style/common.css" rel='stylesheet' type='text/css'>
    </head>
    <body>
		<form method="POST" action="{{ base_url() }}/editComponent/{{ page.getPageEditPath()}}/{{ component.getComponentId() }}">
			{{ component.getEditorForm() | raw }}
			<br />
			<input type="submit" />
		</form>
	</body>
</html>
