<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pages</title>
        <link href="{{ base_url() }}/static/style/common.css" rel='stylesheet' type='text/css'>
    </head>
    <body>
	<header id="headerbar">
		<h1 id="header-title">
			Pages
		</h1>
	</header>
