<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 0 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #aaa;
            }

            h1 {
                color: #807b78;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-weight: 200;
                margin-bottom: 0;
            }

		#headerbar {
			padding: 0 0 0 100px;
			background-color: #CDECDD;
			display: flex;
			align-items: center;
			box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);
			font-size: 18px;
            	}

		#header-title {
			margin: 10px 0 10px 0;
			display: inline-block;
		}

		#header-login {
			margin-left: auto;
			padding: 0 40px 0 0;
		}

		a {
			color: inherit;
			text-decoration: inherit;
		}

		#site-presentation {
			width: 80%;
			margin-left: auto;
			margin-right: auto;

			margin-top: 30px;
			margin-bottom: 5px;

			min-height: 120px;
			padding: 5px 10px;

			background-color: white;
			box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);
		}

		.artists-list-element {
			width: 90%;
			height: 200px;
			margin-left: auto;
			margin-right: auto;


			margin-top: 30px;
			margin-bottom: 5px;

			min-height: 120px;
			padding: 5px 10px;

			background-color: white;
			box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);

		}

		.image-container {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.artists-list-element > a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 24px;
		}

		.artists-list-element > a > .image-container {
			width: 60%;
			height: 100%;
		}
        </style>
    </head>
    <body>
	<header id="headerbar">
		<h1 id="header-title">
			Peintres de Wissant
		</h1>
		<section id="header-login">
				<a href="#">Espace personnel</a>
		</section>
	</header>

	<section id="site-presentation">
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut libero nec elit congue elementum. Nunc nec metus magna. Cras ac blandit diam, non condimentum quam. Nunc libero lorem, vehicula ut posuere a, bibendum non ligula. Nulla et sem a turpis consectetur auctor. Phasellus tellus elit, egestas a tincidunt sollicitudin, molestie non leo. Fusce nisi elit, fringilla in ante sit amet, fringilla gravida metus. Nullam molestie hendrerit magna, fermentum tincidunt nisi dapibus non. Suspendisse nisl metus, feugiat eu ornare tincidunt, sodales vitae lorem.
		<br />
		 Sed at hendrerit elit, nec gravida mauris. Morbi vel iaculis lectus. Maecenas laoreet velit vel sapien dapibus commodo. Nullam ultrices vulputate ante in imperdiet. Vivamus rutrum varius neque eu condimentum. Integer tristique faucibus quam, ut fringilla turpis cursus eget. Curabitur iaculis ex turpis. Quisque turpis nisi, rhoncus id tortor non, cursus pharetra elit. Maecenas aliquet nisi vitae diam gravida faucibus. Morbi vehicula ipsum in tortor egestas elementum. Proin interdum varius mauris sed congue. Quisque vulputate rhoncus dolor, a venenatis felis vestibulum eget. Suspendisse nisi justo, iaculis at facilisis in, pharetra et sem.
	</section>

	<section id="artists-list">
		<section class="artists-list-element">
			<a href="#">
				<div class="image-container"  style="background-image : url('{{ path }}/temp/shu.png')"></div>
				<p class="artists-list-name">

				</p>
			</a>
		</section>
		<section class="artists-list-element">
			<a href="#">
				<div class="image-container"  style="background-image : url('{{ path }}/temp/mia.png')"></div>
				<p class="artists-list-name">
					Bob Jones
				</p>
			</a>
		</section>
	</section>
    </body>
</html>
