{{ include('header.phtml') }}
{{ page.getLayout().getEditorIncludes() | raw }}

<link href="{{ base_url() }}/static/style/editor.css" rel='stylesheet' type='text/css'>

<script src="{{ base_url() }}/static/script/Sortable.min.js"></script>
<script src="{{ base_url() }}/static/script/editor.js"></script>

<script type="text/javascript">
var pagePath = "{{ base_url() }}/editComponent/{{ page.getPageEditPath() }}";
</script>


<section id="editor-headerbar" class="box-big">
	<h2 class="editor-title">Editing page : <span class="page-name">{{ page.getPageName() }}</span></h2>
	<label for="page-view-link">Page view link : </label><input type="text" name="page-view-link" id="editor-view-page-field" class="editor-text-input" value="{{ staticMethod('Utils', 'getBaseUrl') }}/view/{{ page.getPageViewPath() }}" readonly /><button class="editor-button editor-view-page">View</button>
	<div class="editor-toolbar">
		<button class="editor-button" id="editor-rename-page-button">Rename page</button>
		<button class="editor-button">Page theme</button>
	</div>
</section>

<section id="editor-zone">
	{{ page.getLayout().getEditorLayoutStart() | raw }}

		{% for component in page.getOrderedComponents() %}

			{{ page.getLayout().getEditorComponent(component) | raw}}

		{% else %}
			<h4>No components yet</h4>
		{% endfor %}
	{{ page.getLayout().getEditorLayoutEnd() | raw }}
</section>

<section id="editor-component-add" class="box-big">
	<p>+</p>
	Add component
</section>


<section id="editor-componentsettings-container">
	<div id="editor-componentsettings-modal">
		<div class="editor-modal-close" id="editor-componentsettings-close">Close</div>
		<iframe id="editor-componentsettings-iframe" src=""></iframe>
	</div>
</section>

<section id="editor-addcomponent-container">
	<div id="editor-addcomponent-modal">
		<div class="editor-modal-close" id="editor-addcomponent-close">Close</div>
		<ul id="editor-addcomponent-list">
		{% for component in staticMethod('ComponentManager','getAvailableComponents') %}
			<li>
				<h4>{{ component.componentName }}</h4>
				<div>{{ component.componentDescription }}</div>
				<br />
				<a href="{{ base_url() }}/addComponent/{{ page.getPageEditPath() }}/{{ component.componentClass }}"><button class="editor-button">Add component</button></a>
			</li>
		{% endfor %}
		</ul>
	</div>
</section>
<section id="editor-renamepage-container">
	<div id="editor-renamepage-modal">
		<div class="editor-modal-close" id="editor-renamepage-close">Close</div>
		<form id="editor-renamepage-form" method="POST" action="{{ base_url() }}/renamePage/{{ page.getPageEditPath() }}">
			<input type="text" name="page-name-edit" id="page-name-edit" class="editor-text-input" value="{{ page.getPageName() }}" />
			<br />
			<button class="editor-button">Rename</button>
		</form>
	</div>
</section>
