@font-face {

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(fonts/Lato.ttf) format('truetype');

}

body {

	margin: 0 0 0 0;
	padding: 0;
	width: 100%;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #aaa;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	padding: 0;
	margin: 0;
}

h1 {
	color: #807b78;
	letter-spacing: -3px;
	font-family: "Lato", sans-serif;
	font-weight: 200;
	margin-bottom: 0;
}

#headerbar {
	padding: 0 0 0 100px;
	background-color: #CDECDD;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);
	font-size: 18px;
}

#header-title {
	margin: 10px 0 10px 0;
	display: inline-block;
}

#header-login {
	margin-left: auto;
	padding: 0 40px 0 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.box-big {

	width: 80%;
	margin-left: auto;
	margin-right: auto;

	margin-top: 30px;
	margin-bottom: 5px;

	padding: 5px 10px;

	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);
	text-align: center;

}

.artists-list-element {
	width: 90%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;


	margin-top: 30px;
	margin-bottom: 5px;

	min-height: 120px;
	padding: 5px 10px;

	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);

}

.image-container {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.box-big > .title {
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: #807b78;
}

.artists-list-element > a > .image-container {
	width: 60%;
	height: 100%;
}
