.editor-button {

	background: #9E8E70;
	color: white;
	font-weight: bold;
	padding: 10px 15px;
	margin: 7px 0px 0px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	border: 1px solid transparent;
	cursor: pointer;

}

.editor-view-page {

	padding: 0px;
	margin-left: 5px;

}

#editor-component-add {

	cursor: pointer;
	border: 3px dashed #9e8e70;
	border-radius: 5px;
	box-shadow: none;

	color: #9E8E70;

}

#editor-component-add > p {

	font-weight: bolder;
    font-size: 2em;
    padding: 0px;
    margin: 0;

}

.editor-text-input {

	width: 50%;
	border: 0px;
	border-bottom: 2px solid #9e8e70;
	color: #aaa;

}

#editor-componentsettings-container, #editor-addcomponent-container, #editor-renamepage-container {

	display: none;
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.7);

}

#editor-componentsettings-modal, #editor-addcomponent-modal, #editor-renamepage-modal {

	position: fixed;
	top: 10%;
	left: 10%;

	width: 80%;
	height: 80%;

}

#editor-componentsettings-modal > iframe, #editor-addcomponent-list {

	width: 100%;
	height: 100%;

	background-color: white;

}

.editor-modal-close {

	text-align: right;
	cursor: pointer;

}

#editor-addcomponent-list {

	padding: 10px;
	list-style: none;

}

#editor-addcomponent-list > li {

	border: 3px dashed #9e8e70;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;

}

#editor-renamepage-form {

	padding: 50px 0px;
	text-align: center;
	background-color: white;

}
