.linearlayout-editor-section {

	border: 3px dashed #9e8e70;
	border-radius: 5px;
	box-shadow: none;
	color: #9E8E70;
}

.linearlayout-editor-component {

	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 5px;
	padding: 5px 10px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);
	text-align: center;

}

.linearlayout-editor-component-title {

	font-size: 1.4em;
	margin: 0px;

}

.linearlayout-editor-component-toolbar {

	border-bottom: 1px solid #b4b4b4;

}
